<footer class="footer fixed-bottom">
    <div class="footer-title">
        <h5 class="text-center font-weight-bold">PRIVATE</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-info">
                    <span class="font-weight-bold">Informations</span>
                    <li>
                        <a href="/discord">Discord</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vay.d0/">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-info">
                    <span class="font-weight-bold">Redirection</span>
                    <li>
                        <a href="/home">Accueil</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>